<h1>Getting Steam Account Games </h1>
<ul>
    <li>
        <h4> Makings the get request </h4>
        <p>Like the last request we made, we will need the api key we generated. This
            request as a few arguments that can be useful. Lets take a look. http://api.steampowered.com/IPlayerService/GetOwnedGames/v0001/?key=XXXXXXXXXXXXXXXXX&steamid=76561197960434622&format=json
            This request looks alot like the last request except it is now using
            /IPlayerService/GetOwnedGames/v0001. One of the optional argument I
            will be using is include_appinfo. This adds the game name to the object.
            This request can be used to find games a user owns and how many hours
            they have played.
        </p>
    </li>
    <li>
        <h4> Displaying the data</h4>
        <p>
            Oh how I love JSON. This is potentially a big JSON object since it depends on how
            many games a user owns. The games can be filtered out using the appids_filter
            argument but we will not be doing this. Instead we are going to search
            the JSON object and return the top three games a user has played in
            all time.
        </p>
    </li>
    <li>
        <div>
            <form method="POST">
                <fieldset>
                    <label>Enter a 64-bit steamID
                        <input type="text" name="steamid" size="30" maxlength=100></input>
                    </label>
                    <input type="submit" name="steamidSubmit" value="Submit">
                </fieldset>
            </form>

        </div>
        <br>
        <div id=JSON-DATA>
            <ul>
                <li>
                    <p>This profile is set to private. Unable to get data.</p>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <iframe style="width: 100%; height: 300px" src="https://jsfiddle.net/funkydel/7to2dmo6/embedded">
        </iframe>
        <p>So this code is a bit more complex. The begining starts off the same with
            gettin the steamid from the post request. We check if the there is
            a JSON obj. The variable context.topGames holds the top 3 games. At
            the begining they are set to "" and -1. The first for loop goes through
            the entire json object. The second for loop foes through the topGame
            list. Once we fine a game we go through the do while loop to keep the
            games sorted in order of most played. Right before we render the page
            there is a second for loop. This is to convert the appid and hash into
            the proper image url. This is also where the we convert from minutes
            to hours played. Overall it is pretty simple but takes a lot of code.
        </p>
</ul>
