<h1> Lets learn about the Steam API</h1>

<ul>
    <li>
        <h4> What is steam</h4>
        <p>If you do not already know, Steam is platform that delivers games to the
            majority of PC gamer. It has one of the biggest communities for thousands
            of games. If you have not already tried steam out. I suggest you do.</p>
    </li>
    <li>
        <h4> Why use the Steam API</h4>
        <p>Steam contains tons of information from stats for individual players,
            Game news, Patch notes. By using the steam API we can access this information
            and set up our own websites. Websites that use the steam API allow
            trading of items, gambling and watching player progression.
        </p>
        <li>
            <h4> How to get started</h4>
            <p>The documentations used in this How-to guide can be found at <a href=https://steamcommunity.com/dev>here</a>
               In order use the web API  for steam, you will need a web API key that you can get from <a href=http://steamcommunity.com/dev/apikey>here</a>.
               The reason you need is key is because making request requires server time. API keys identify who you are to the server.
               Servers then can limit your request based on API keys. This way one user can not overload the server.
            </p>
        </li>
</ul>
<a href="/steam-news">next</a>

