<fieldset>
    <label>Enter Name:
        <input type="text" name="name" size="30" maxlength="100" id="name"></input>
    </label>
    <label>Enter Reps:
        <input type="number" name="reps" id="reps"></input>
    </label>
    <label>Enter Weight:
        <input type="number" name="weight" id="weight"></input>
    </label>
    <label>Enter Date:
        <input type="text" name="date" id="date"></input>
    </label>
    <label>Enter lbs:
        <input type="number" name="lbs" min="0" max="1" id="lbs"></input>
    </label>
    <input type="submit" value="Submit" id="tableSubmit"></input>
</fieldset>
<p>
    {{{results}}}
</p>
<table id="woTable">
</table>
