<h1>Getting Steam Account Information</h1>
<ul>
    <li>
        <h4> Makings the get request </h4>
        <p>Unlike before, this get requests an API key. I won't be sharing mine with
            you but if you have been following along, you should have your own.
            The request looks like <strong> http://api.steampowered.com/ISteamUser/GetPlayerSummaries/v0002/?key=XXXXXXXXXXXXXXXXXXXXXXX&steamids=76561197960435530 </strong>
            The only parameters here are key=xxx and steamid=xxx. The steamid must be in the
            64-bit format. If you dont know your steamid, you can look it up all
            all the versions using the website <a href="https://steamid.xyz/">here</a>
        </p>
    </li>
    <li>
        <h4> Displaying the data</h4>
        <p>
            Much like before, we are returned a JSON text file. Unlike last time the data is
            a bit more "cryptic". For example, the date of account creation is
            stored as a unix time stamp which is useful for storing dates. For
            us to make this readable to us, we are going to need to install the
            node module
        </p>
    </li>
    <li>
        <h4> Formatting the data</h4>
        <p>By accessing the elements and using some for loops we can add some formatting
            to our JSON object.
        </p>
        <p>Try the form below. Using some handlebars logic, it sets each header to
            be a title and its content to be the article
            <div>
                <form method="POST">
                    <fieldset>
                        <label>Enter a 64-bit steamID
                            <input type="text" name="steamid" size="30" maxlength=100></input>
                        </label>
                        <input type="submit" name="steamid" value="Submit">
                    </fieldset>
                </form>

            </div>
            <br>
            <div id=JSON-DATA>
                    <p>A user with that ID does not exist</p>
            </div>
    </li>
</ul>
